.tshidi-icon {
    border-radius: 20%;
}

.navbar img.tshidi-icon {
    height: 40px;
    width: auto;
    padding: 0px;
    margin-right: 20px;
} 

#catch-phrase {
    font-weight: 600;
}

#author {
    font-style: italic;
    font-weight: normal;
}

.container .txt-color {
    color: white;
}

#about-me #project-1 a {
    text-decoration: none;
}

#about-me #project-1 a:hover {
    text-decoration: none;
    color:#ee7752;
}

@media (max-width: 480px) {
    .container video {
        width: 100%;
        position: relative;
        left: 15%;
    }

    body {
        background-image: url(./content/homepg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100rem;
    }

    #about-me .container > #personal-info {
        display: block;
    }

    #about-me .container > #personal-info> img {
        display: block-inline;
        width: 5rem;
        float: right;
        border: 1px solid purple;
        border-radius: 20%;
        margin-bottom: 3rem;
       
    }

    #about-me .container p {
        font-size: smaller;
    }

    #about-me .container > .projects  img {
        height: 9rem;
        padding: 5px; 
        border-radius: 8%;
    }

}

@media (min-width: 481px) and (max-width: 1200px) {
    .container video {
        width: 100%;
        position: relative;
        left: 30%; 
    }

    .container .vid-position{
        display: flex;
        justify-content: center;
    }

    body {
        background-image: url(./content/homepg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100rem;
    }

    #about-me .container > #personal-info {
        display: block;
    }
    

    #about-me .container > #personal-info > img {
        width: 6rem;
        float: right;
        border: 1px solid purple;
        border-radius: 20%;
        margin-bottom: 2rem;
       
    }

    #about-me .container > #personal-info > p {
        display: inline;
    }

    #about-me .container > .projects  img {
        height: 11rem;
        padding: 10px; 
        border-radius: 8%;
    }
}

@media (min-width:1201px) {
    .container video {
        width: 100%;
        height: 90vh;
    }

    body {
        background-image: url(./content/homepg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100rem;
    }
    
    #about-me .container > #personal-info > img {
        float: right;
        width: 8rem;
        border: 2px solid peru;
        border-radius: 20%;
        margin-bottom: 3rem;
       
    }
    
    #about-me .container > #personal-info > p {
        display: inline;
        font-weight: 600;
        font-size: large;
    }

    #about-me .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
    }

    #about-me .container > #personal-info {
        grid-column: span 3;
    }

    #about-me .container > .projects {
        grid-column: span 3;
        display: flex;
        justify-content: space-around;
    }

    #about-me .container > .projects img {
        height: 18rem;
        padding: 5px;
    }

    #about-me .container > .projects > #project-1 {
        flex-basis: 25rem;
    }

    #about-me .container > .projects > #project-2 {
        flex-basis: 25rem;
    }

    #about-me .container > .projects > #project-3 {
        flex-basis: 25rem;
    }

    #about-me .container h6 {
        font-size: larger;
    }

    #about-me .container p {
        font-size: large;
    }
}

#about-me {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100rem;
    width: 100%;
    margin-top: 0px;
    padding-top: 3rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

    
}





